
<li class='top-section'>
  <span class='header'>
    <a href='#' class='cancel'>
      <span
        class='glyphicon glyphicon-chevron-left pull-left'>
      </span>
    </a>
    Add
  </span>
</li>
<li class='main-section'>
  <form>
    <input
      type='text'
      placeholder='Board Title'
      autofocus='true'>
    <button class='btn btn-success'>Create</button>
  </form>
</li>
