<div class="md-content">
  <a class="md-close modal-dismiss glyphicon glyphicon-remove" href="javascript:void(0)"></a>
  <div class="content-container group">
    <textarea class="form-control"><%= card.escape('title') %></textarea>
    <button class="update btn btn-update" id='update-list'>Update</button>

    <div id="items-header">Checklist</div>
    <section class="sort-items" id='items'></section>
    <div id='item-form'></div>

    <button class="delete btn btn-delete" id='delete-list'>Delete Card</button>
  </div>
</div>
