<% if (form) { %>
  <h4>Add A Card</h4>
  <section class='error'></section>
  <form class='new-card'>
    <label>Title
      <input class='title' type="text" name="card[title]">
    </label>

    <button id='save-card'>Add Card</button>
  </form>

<%  } else { %>
  <button id='add-card'>New Card</button>
<% } %>
