<h2>Boards</h2>
<ul class='boards'>
    <% boards.each(function (board) { %>
      <li><a href="#/api/boards/<%= board.id %>"><%= board.get('title') %></a></li>
    <% }) %>
</ul>
<a href="#/api/boards/new">Add A Board</a>
