<h2>Add A Board</h2>
<section class='error'></section>
<form class='new-board'>
  <label>Title
    <input class='title' type="text" name="board[title]">
  </label>

  <button class='add-board'>Add Board</button>
</form>
<br><br>
<a href="#/api/boards">Back to boards</a>
