<h2 id='board-title'><%= board.escape('title') %></h2>
<section id='list-space'>
  <ul class="sort-lists" id='lists' ></ul>

  <div id="list-form"></div>
</section>
<br>
<a href="#/api/boards">All Boards</a>
