<h2 id='board-title'><%= board.escape('title') %></h2>
<section id='list-space'>
  <ul class="sort-lists" id='lists' ></ul>
  <section id='add-list'></section>
</section>
<br>
<a href="#/api/boards">All Boards</a>
