<div class="board-title-container group">
  <h2 id='board-title'><%%= board.escape('title') %></h2>
  <img class='board-logo' src="<%= asset_path('stack.png') %>" alt="" />
</div>
<section id='list-space' class='group'>
  <ul class="sort-lists" id='lists' ></ul>

  <div id="list-form"></div>
  <div id="buffer"></div>
</section>
