/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

 $bgMain: #DEB887;
 $bgLight: #d5b790;

@import "bootstrap";
@import "font-awesome";

* {
  list-style: none;
  background: transparent;
  font: inherit;
  margin: 0px;
  padding: 0px;

}

body {
  background-color: $bgMain;
}

.group::after {
  display: block;
  clear: both;
  content: '';
}

ul {
  display: block;
}

textarea {
  resize: vertical;
}

.close-lg {
  font-size: 30px;
}

.btn-success {
  color: white;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-success:hover, .btn-success:focus, .btn-success:active,
  .open > .btn-success.dropdown-toggle {
  color: white;
  background-color: #3071a9;
  border-color: #285e8e;
}

.btn-update {
  color: white;
  font-size: 16px;
  background-color: rgba(0,0,0,0.3);
  border-color: rgba(0,0,0,0.1);
}

.btn-update:hover, .btn-update:focus, .btn-update:active {
  color: white;
  background-color: rgba(0,0,0,0.4);
  border-color: rgba(0,0,0,0.1);
}

.btn-delete {
  color: white;
  background-color: #BA3C3C;
  border-color: #9C2D2D;
}

.btn-delete:hover, .btn-delete:focus, .btn-delete:active {
  color: white;
  background-color: #9C2D2D;
  border-color: #801919;
}




//MODAL

.modal-form {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  z-index: 1032;
  visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.modal-form .md-content {
  background-color: $bgMain;
  border-radius: 3px;
}

.modal-form .md-content .content-container {
  padding: 80px 30px 20px 30px;
  display: block;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, .4);
}

.modal-form textarea {
  margin-bottom: 10px;
  font-size: 22px;
  resize: vertical;
}

.modal-form button.update {
  width: 100%;
  display: block;
  margin-bottom: 50px;
}

.modal-form button.delete {
  float: right;
  width: auto;
  font-size: 13px
}

.modal-dismiss {
  float: right;
  font-size: 130%;
  margin-top: 15px;
  margin-right: 15px;
  color: rgba(0,0,0,0.2);
  &:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
  }
}

.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

body .md-show {
	visibility: visible;
}

#md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#md-overlay.show {
	opacity: 1;
	visibility: visible;
}
