/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

* {
  list-style: none;
  background: transparent;
  font: inherit;
  margin: 0px;
  padding: 0px;

}

body {
  background-color: rgb(14, 116, 175);
}

.navbar {
  background-color: rgba(0,0,0,.15);
}

#board-title {
  margin-left : 20px;
  color: #f6f6f6;
}

ul {
  display: block;
}

.navbar-default .navbar-brand {
  color: #f6f6f6;
}

.navbar-default .navbar-brand:hover {
  color: #CFCFCF;
}

li.list-show {
  float: left;
  margin-left : 20px;
  width: 240px;
  background: #E3E3E3;
  border-radius: 4px;
}

li.card-show {
  background: #f6f6f6;
  color: black;
  padding: 7px 10px;
  border-radius: 4px;
  margin-top: 5px;
  box-shadow: 1px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(92,90,92,1);
  -moz-box-shadow: 0px 1px 0px 0px rgba(92,90,92,1);
  box-shadow: 0px 1px 0px 0px rgba(92,90,92,1);
}

li.card-show:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

ul#lists {
  float: left;
}

#list-header {
  padding: 3px;
  color: #4d4d4d;
  border-bottom: 1px solid black;
}

#list-header:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#list-title {
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
}

ul#cards {
  padding: 5px;
}

section#list-space::after {
  clear: both;
  display: block;
  content: '';
}

.card-place-holder {
  height: 40px;
  border-radius: 4px;
  margin-top: 5px;
  background: black;
  opacity: 0.5;
}

.list-place-holder {
  height: 40px;
  width: 240px;
  border-radius: 4px;
  margin-top: 5px;
  background: black;
  opacity: 0.5;
}
