.card-show {
  background: #f6f6f6;
  color: black;
  padding: 7px 10px;
  border-radius: 4px;
  margin-top: 5px;
  box-shadow: 1px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(92,90,92,1);
  -moz-box-shadow: 0px 1px 0px 0px rgba(92,90,92,1);
  box-shadow: 0px 1px 0px 0px rgba(92,90,92,0.4);
}

.card-show:hover {
  background: #DEDEDE;
  cursor: move;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.card-show:hover #edit-card{
  display: inline-block
}

.add-card {
  display: block;
  margin: 2px -3px -3px;
  padding: 7px 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  &:hover {
   background-color: #c3c3c3;
   color: #0956AD;
  }
}

.card-text {
  float: left;
  width: 93%;
}

#edit-card {
  float: right;
  margin-top: 3px;
  font-size: 16px;
  display: none;
  color: rgba(0,0,0,0.3);
}

#edit-card:hover, #edit-card:focus {
  color: rgba(0,0,0,0.6);
  cursor: pointer;
}

.card-place-holder {
  border-radius: 4px;
  margin-top: 5px;
  background: black;
  opacity: 0.5;
}






//MODAL

.card-modal {
  top: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.card-modal .md-content {
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	transform: translateY(20%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.card-modal .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
