.add-card {
  display: block;
  margin: 2px -3px -3px;
  padding: 7px 10px;
  // color: #939393;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  &:hover {
   background-color: #c3c3c3;
   color: #0956AD;
  }
}
