#items {
  margin-bottom: 30px;
}

.item-show {
  background-color: rgba(255, 255, 255, .7);
  padding: 5px;

  &:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
}

.item-place-holder {
  padding: 2px 0;
  background: black;
  opacity: 0.5;
}

.item-title {
  font-size: 30px;
}
