#items-header {
  background-color: rgba(255, 255, 255, .7);
  font-size: 20px;
  text-decoration: underline;
  padding: 20px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#items {
}

.item-show {
  background-color: rgba(255, 255, 255, .7);
  padding: 5px 10px;

  &:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    background-color: rgba(255, 255, 255, .9)
  }
}

.item-place-holder {
  background: black;
  opacity: 0.5;
}

input[type="checkbox"].item-done {
  float: left;
  margin-top: 6px;
  margin-right: 10px;
}

.item-title {
  font-size: 16px;
  float: left;
  width: 90%;
}

.item-show:hover #delete-item{
  display: inline-block
}

#delete-item {
  float: right;
  margin-top: -1px;
  font-size: 22px;
  display: none;
  color: rgba(0,0,0,0.3);
}

#delete-item:hover, #delete-item:focus {
  color: rgba(0,0,0,1);
  cursor: pointer;
}

#item-form {
  background-color: rgba(255, 255, 255, .7);
  padding: 20px 10px 10px 10px;
  margin-bottom: 30px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.form-link-container {
  padding: 0 5px 10px 5px;
}

#item-form form {
  background-color: rgba(0, 0, 0, .2);
  padding: 10px;
  border-radius: 3px;
}
