li.list-show {
  margin-left : 20px;
  width: 260px;
  background: rgba(255, 255, 255, .6);
  border-radius: 4px;
  white-space: normal;
}

#lists, #list-form, .list-show {
  display: inline-block;
  vertical-align: top;
}

#lists {
  height: 100%;
}

.list-show {
  padding: 5px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 10px;
  }
}

#list-form {
  margin-left: 15px;
  width: 240px;
}

#buffer {
  width: 20px;
  display: inline-block;
}

#list-form .list-form-container > a {
  display: block;
  padding: 10px;
  background: rgba(0,0,0,.12);
  border-radius: 3px;
  &:hover {
    background-color: rgba(0,0,0,.30);
    color: #0956AD;
    text-decoration: underline;
    cursor: pointer;
  }
}

#list-form .list-form-container form {
  padding: 10px;
  background: rgba(0,0,0,.12);
  border-radius: 3px;
}

#list-title {
  width: 90%;
  float: left;
  padding: 0 5px 5px 5px;
}

.list-place-holder {
  height: 40px;
  width: 240px;
  border-radius: 4px;
  margin-top: 5px;
  background: black;
  opacity: 0.5;
}

#list-header {
  padding: 3px;
  color: #4d4d4d;
  border-bottom: 1px solid black;
}

#list-header:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#list-title {
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
}

ul#cards {
  padding: 5px;
}
