<div class="md-content group">
  <a class="md-close modal-dismiss glyphicon glyphicon-remove" href="javascript:void(0)"></a>
  <textarea class="form-control"><%= list.escape('title') %></textarea>
  <button class="update btn btn-update" id='update-list'>Update</button>
  <button class="delete btn btn-delete" id='delete-list'>Delete</button>
</div>
