<% if (form) { %>
  <h4>Add A List</h4>
  <section class='error'></section>
  <form class='new-list'>
    <label>Title
      <input class='title' type="text" name="list[title]">
    </label>

    <button id='save-list'>Add List</button>
  </form>

<%  } else { %>
  <button id='add-list'>New List</button>
<% } %>
