<div class='group' id="list-header">
  <div id='list-title'>
    <%= list.escape('title') %>
  </div>
  <a href="#" class="close close-lg" id="delete-list" data-id='<%= list.id %>'>&times;</a>
</div>

<ul class="sort-cards connectable" id='cards'></ul>

<div class='list-footer'></div>
