<div id="list-header" data-list-id="<%= list.id %>">
  <span id='list-title'>
    <%= list.escape('title') %>
    <!-- <%= list.get('ord') %> -->
  </span>
  <button id="delete-list" data-id='<%= list.id %>'>Remove List</button>
</div>

<ul class="sort-cards connectable" id='cards'></ul>

<section id='add-card'></section>
