<div class='group' id="list-header">
  <div id='list-title'>
    <%= list.escape('title') %>
  </div>
  <i class="edit-list fa fa-pencil-square-o"></i>
</div>

<ul class="sort-cards connectable" id='cards'></ul>

<div class='list-footer'></div>
