<div id="list-header">
  <span id='list-title'>
    <%= list.escape('title') %>
    <!-- <%= list.get('ord') %> -->
  </span>
  <a href="#" class="close close-lg" id="delete-list" data-id='<%= list.id %>'>&times;</a>
</div>

<ul class="sort-cards connectable" id='cards'></ul>

<div class='list-footer'></div>
